p{
    font-size: 15px;
    color: grey;
}
/* PRVA */
.services-prva{
    width: 100%;
    height: 60vh;
    background-color: #18c1db;
    justify-content: center;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.services-prva h1{
    font-size: 40px;
    color: white;
    padding-top: 190px;
    padding-bottom: 10px;
}
.services-prva a{
    font-size: 15px;
padding: 10px;
}

/* DRUGA */
.services-druga{
width: 100%;
height: 120vh;
background-color: white;
padding-top: 120px;
padding-bottom: 120px;
}
.services-druga h1{
    text-align: center;
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 20px;
}
.services-druga p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 14px;
    padding-bottom: 30px;
}
.services-druga h2{
    text-align: center;
    
}
/* TRECA */
.deveta-sekcija h1{
    padding-top: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 20px;
}
.deveta-sekcija p{
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}