* {
  padding: 0;
  margin: 0;
}
body {
  font-size: 14px;
}
.desktop-nav {
  width: 100%;
  height: 70px;
  background-color: #18c1db;
  color: white;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: sticky;
  top: 0;
}

.logo {
  font-size: 25px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 60px;
}
.logo a{
  font-size: 27px;
}

.nav {
  width: 550px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}
a {
  color: white;
  text-decoration: none;
}
.link {
  margin-right: 50px;
}
.border {
  border: 1px solid white;
  display: flex;
  align-items: center;
  border-radius: 3px;
  width: 130px;
  height: 50px;
  justify-content: center;
}
.border a:hover {
  background-color: white;
  color: black;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

     /* PRVA SEKCIJA */
.header {
  width: 100%;
  height: 80vh;
  background-color: #18c1db;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 70px 0px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2300x;
  padding-bottom: 230px;
}
.text {
  width: 60%;
  height: 50vh;

  margin: 0px 10px;
  padding: 0px 30px;
}
.bor1 {
  border: 1px solid white;
  display: flex;
  align-items: center;
  border-radius: 3px;
  width: 130px;
  height: 50px;
  justify-content: center;
  margin: 30px 0;
}
.borx {
  display: flex;
}
.bor1 a:hover {
  background-color: white;
  color: black;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bor2 {
  border: 1px solid white;
  display: flex;
  align-items: center;
  background-color: white;
  color: black;
  border-radius: 3px;
  width: 130px;
  height: 50px;
  justify-content: center;
  margin: 30px 20px;
}

.bor2 a {
  color: black;
}
.bor2 a:hover {
  background-color: #18c1db;
  border-radius: 3px;
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text h1 {
  font-size: 50px;
}
.pic {
  width: 50%;
  padding-right: 50px;
  margin: 60px 30px;
}

      /* DRUGA SEKCIJA */
.druga-sekcija {
  width: 100%;
  height: 100vh;
  background-color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  align-items: center;
  text-align: center;
  padding-top: 130px;
}
.druga-sekcija p {
  color: gray;
  padding-top: 20px;
}

.flex-card {
  display: flex;
  justify-content: space-around;
  margin: 60px 0px;
  align-items: center;
}
.card {
  width: 300px;
  height: 40vh;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: black;
}

.card h2 {
  color: black;
  padding: 20px 10px;
}


.card p {
  color: grey;
}
.card a:hover {
  color: #18c1db;
  width: 100%;
  height: 100%;
}
.icon {
  width: 50px;
  height: 50px;
  border: 1px solid rgb(231, 231, 231);
  background-color: rgb(248, 247, 247);
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  margin: 0px 110px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

/* TRECA SEKCIJA */
.treca-sekcija {
  width: 100%;
  height: 100vh;
  background-color: #edf6ff;
  padding-top: 130px;
}

.borders {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
}
.item1 {
  border: 1px solid white;
  background-color: white;
  border-radius: 7px;
  width: 250px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  text-align: center;
}
.item1 a {
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}

.item2 {
  border: 1px solid white;
  border-radius: 7px;
  width: 250px;
  height: 60px;
  background-color: #18c1db;
  margin-bottom: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item2 a {
  color: white;
}

.deo {
  width: 100%;
  height: 70vh;
  background-color: #edf6ff;
  padding-top: 50px;
  display: flex;
}

.deo1 {
  width: 50%;
  height: 100%;

  padding: 20px 50px;
  text-align: left;
}

.deo1 h1 {
  font-size: 35px;
  padding-bottom: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.deo1 h2 {
  font-size: 15px;
}
.deo2 {
  width: 50%;
  height: 100%;

  padding-right: 40px;
}

.deo-bor {
  border: 1px solid #18c1db;
  border-radius: 5px;
  background-color: #18c1db;
  width: 180px;
  height: 50px;
  margin-top: 40px;
  font-size: 12px;
  justify-content: center;
  text-align: center;
  align-items: center;
}
 /* CETVRTA */
.cetvrta-sekcija {
  background-color: white;
  width: 100%;
  height: 100vh;
  padding-top: 100px;
  text-align: center;
}
.cetvrta-sekcija h1 {
  font-size: 35px;
}
.img {
  padding-top: 50px;
}

/* PETA */
.peta-sekcija {
  width: 100%;
  height: 60vh;
  background-color: #edf6ff;
  padding: 100px 0;
  display: flex;
}

.prvi {
  width: 40%;
  height: 100%;
  text-align: left;
  padding: 30px 50px;
}
.peta-sekcija h1 {
  font-size: 35px;
  padding-bottom: 20px;
  padding-top: 20px;
}
.h2 {
  font-size: 12px;
}
.peta-sekcija p {
  font-size: 15px;
  padding-bottom: 60px;
}
.border5 {
  border: 1px solid #18c1db;
  border-radius: 5px;
  width: 350px;
  height: 100px;
  background-color: #18c1db;
  padding: 15px 30px;
  text-align: center;
}
.border2 {
  width: 50%;
  height: 100%;
}

.sesta-sekcija {
  width: 100%;
  height: 150vh;
}
.sesta-sekcija h1 {
  color: black;
  font-size: 35px;
  padding-top: 100px;
}
.sesta-sekcija p {
  padding-bottom: 100px;
}

.f-2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.cards {
  height: 75vh;
  
  width: 350px;
  border-radius: 5px;
  border: 1px solid gainsboro;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  margin: 30px 20px;
  padding-bottom: 50px;
}
.cards-header {
  background-color: #edf6ff;
  padding: 30px;
}

.body-c {
  flex-direction: column;
  display: flex;
  padding: 40px;
  text-align: center;
  align-items: center;
}
.body-c a {
  padding: 8px;
  color: grey;
}

.price {
  border: 1px solid white;
  border-radius: 5px;
  width: 240px;
  height: 170px;
  background-color: #edf6ff;
  text-align: center;
  margin-left: 33px;
  margin-bottom: 500px;
flex-direction: column;
  display: flex;
  padding: 20px;

}
.number{
width: 280px;
height: 100px;
display: flex;

text-align: center;
align-items: center;
}
.number h3{
  font-size: 60px;
  padding-left: 10px;
  padding-bottom: 14px;
  padding-right: 20px;
}
.number h4{
font-size: 20px;
align-items: center;
text-align: center;
padding-top: 10px;
padding-left: 50px;
padding-bottom: 40px;
}
.number p{
align-items: center;
text-align: left;
padding-top: 100px;

}
.botton6 {
  border: 1px solid #18c1db;
  background-color: #18c1db;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  
}


/* SEDMA SEKCIJA */
.sedma-sekcija {
  background-color: #edf6ff;
  width: 100%;
  height: 97vh;
}
.sedma-sekcija h1 {
  color: black;
  font-size: 35px;
  padding-top: 100px;
}
.sedma-sekcija p {
  padding-bottom:20px;
}


.flex-info {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: space-around;
}
.info1 {
  width: 500px;
  height: 27vh;
  padding: 20px 20px 30px 20px;
  border-radius: 5px;
  text-align: left;
  background-color: white;
  display: flex;
}
.slika{
  width: 20%;
  height: 27vh;
  padding-top: 23px;
  padding-left: 20px;
}
.sedma-text{
  width: 80%;
  height: 27vh;
  
}
.sedma-text img{
padding-bottom: 230px;
}
.sedma-text p {
  
  padding-bottom: 20px;
  color: #777;
}
.sedma-text h2 {
 
 
  
}
.sedma-sekcija h2:hover {
  color: #18c1db;
}
.info2 {
  width: 500px;
  height: 35vh;
  background-color: white;
  border-radius: 5px;
  text-align: left;
}
   /* OSMA SEKCIJA */
.osma-sekcija {
  width: 100%;
  height: 60vh;
  background-color: white;
  padding: 100px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.osma {
  display: flex;
}
.osma-img {
  width: 50%;
  height: 50vh;
  padding: 0px 50px;
  display: flex;
}
.osma-text {
  width: 50%;
  height: 50vh;
  text-align: left;
  padding: 30px 50px;
}

.osma-sekcija h1 {
  font-size: 35px;
  padding-bottom: 20px;
  padding-top: 20px;
}
.osma-sekcija h2 {
  font-size: 17px;
}
.osma-sekcija p {
  font-size: 15px;
  padding-bottom: 60px;
}

/* DEVETA */
.deveta-sekcija {
  width: 100%;
  height: 60vh;
  background-color: #18c1db;
  text-align: center;
}
.deveta-sekcija h1 {
  font-size: 35px;
  color: white;
  padding-top: 100px;
}
.deveta-sekcija p {
  font-size: 15px;
  color: white;
  padding-bottom: 50px;
}
.button9 {
  border: 2px solid white;
  display: flex;
  background-color: white;
  align-items: center;
  border-radius: 5px;
  width: 220px;
  height: 50px;
  justify-content: center;
  margin-left: 530px;
}
.button9 a {
  color: black;
  font-size: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.button9 :hover {
  background-color: #18c1db;
  color: white;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  text-align: center;
  padding-top: 30px;
}
.deseta-sekcija {
  width: 100%;
  height: 60vh;
  background-color: #000410;
  display: flex;
}
.flex-colons {
  width: 100%;
  height: 30vh;
  margin: 100px 50px 100px 50px;

  padding: 0px 10px;
  display: flex;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
/* COLON 1 */
.colon1 {
  width: 430px;
  height: 30vh;

  margin-right: 10px;
  flex-direction: column;
  text-align: left;
}
.colon1 h3 {
  font-size: 25px;
  padding-bottom: 30px;
  color: white;
}
.colon1 p {
  font-size: 15px;
  color: #777;
  padding-bottom: 30px;
}
.p {
  padding-bottom: 6px;
  font-size: 15px;
  color: #777;
}
.colon1 a {
  color: #18c1db;
  font-size: 16px;
}
/* COLON 2 */
.colon2 {
  width: 430px;
  height: 30vh;

  margin-right: 10px;
  flex-direction: column;
  text-align: left;
}
.colon2 h3 {
  font-size: 25px;
  padding-bottom: 30px;
  color: white;
  padding-left: 20px;
}
.colon2 p {
  font-size: 15px;
  color: #777;
  padding-bottom: 30px;
  padding-left: 20px;
}
.form {
  display: flex;
  position: relative;
  flex-direction: row;
  padding-left: 20px;
}
.form input {
  height: 40px;
  width: 340px;
  color: white;
  padding-left: 10px;
  color: black;
}

/* COLON 3 */
.colon3 {
  width: 220px;
  height: 30vh;

  text-align: left;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.colon3 h3 {
  font-size: 25px;
  padding-bottom: 30px;
  color: white;
  padding-left: 20px;
}
.colon3 p {
  font-size: 15px;
  color: #777;
  padding-bottom: 30px;
  padding-left: 20px;
}
.social {
  display: flex;
}
.social img {
  padding-left: 20px;
  color: white;
}


